<button class="{{buttonClass}}" {{action 'openPicker' on="click"}}>{{value}}</button>

<div class="date-picker-modal {{if isOpen 'visible' 'invisible'}} {{if isUp 'up'}}">
  <div class="date-picker-title">
    <div class="date-picker-past" {{action 'pastMonth'}}><span aria-hidden="true">&laquo;</span></div>
    <span>{{monthName}} {{year}}</span>
    <div class="date-picker-next" {{action 'nextMonth'}}><span aria-hidden="true">&raquo;</span></div>
  </div>
  <div class="date-picker-body">
    <table>
      <thead>
        <tr>
          {{#each weekOptions as |option|}}
            <th>{{option}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each weekDates as |weekDate|}}
          <tr>
            {{#each weekDate as |d index|}}
              <td class="{{if d.isPastDate 'date-picker-past-date'}} {{if d.isNextDate 'date-picker-next-date'}} {{is-equals d.dateArray today 'date-picker-today'}} {{is-equals d.dateArray selected 'date-picker-selected'}}" {{action 'selectDate' d}}><span data-year="{{d.year}}" data-month="{{d.month}}" data-date="{{d.date}}"></span></td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
