{{input value=value class=valueValidationClass placeholder=format key-down='inputDate' key-up='validatDate'}}

<div class="date-picker-modal {{if isOpen 'visible' 'invisible'}} {{if isUp 'up'}}">
  <div class="date-picker-title">
    <div class="date-picker-past" {{action 'pastMonth'}}><span aria-hidden="true">&laquo;</span></div>
    <span>{{monthName}} {{year}}</span>
    <div class="date-picker-next" {{action 'nextMonth'}}><span aria-hidden="true">&raquo;</span></div>
  </div>
  <div class="date-picker-body">
    <table>
      <thead>
        <tr>
          {{#each weekOptions as |option|}}
            <th>{{option}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each weekDates as |weekDate|}}
          <tr>
            {{#each weekDate as |d index|}}
              {{date-picker-cell model=d today=today selected=model action='selectDate'}}
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
