<div class="input-fake {{if isFocus 'focus'}}">
  <input value={{hour}} {{action 'hourKeyDown' on='keyDown' allowedKeys="alt"}}>
  :
  <input value={{minute}} {{action 'minuteKeyDown' on='keyDown' allowedKeys="alt"}}>

  {{period-select value=period}}
</div>
