<h2 id="title">Date time picker</h2>

<h4>{{date}}: {{calendar.stemBranch}}, {{calendar.animal}}, {{calendar.cnDate}}</h4>
{{date-picker model=date calendar=calendar}}

<div>I'm a segment line.</div>

<div style="height:100px"></div>

<h4>{{time}}</h4>
{{time-picker model=time}}

<div style="height:100px"></div>

<h4>{{time1}}</h4>
{{time-picker model=time1 class="asdasd"}}

<div style="height:100px"></div>

<h4>{{date2}}</h4>
{{date-picker model=date2 direction="upward" showLunarCalendar=true}}
