<h2 id="title">Date time picker</h2>

<h4>{{date}}</h4>
{{date-picker model=date buttonClass="asd" format="yyyy-mm-dd"}}

<div>adsasdsa</div>

<div style="height:100px"></div>

<h4>{{time}}</h4>
{{time-picker model=time}}

<div style="height:200px"></div>

<h4>{{date2}}</h4>
{{date-picker model=date2 buttonClass="asd" format="yyyy-mm-dd"}}
